a {
	text-decoration: none;
	color: black;
	font-family: Helvetica;
	line-height: 1;
}

body {
	font-family: Helvetica;
	font-size: 16px;
	color: black;
	line-height: 1;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	background: blue;
	width: 100vw;
}

	h1 {
		font-size: 32;
		text-align: center;
	}

	h2 {
		font-size: 24;
		font-weight: 300;
		text-align: center;	
	}
	
	p.centreimage {
		position: absolute;
		bottom:50vh;
		left:50vw+225px;
		background: white;
		overflow: hidden;
		text-align: center;
		width: 450px;
		height: 300px;
	}
	
	p.bodyparagraph {
		overflow: hidden;
		position: absolute;
		top:50vh+300px;
		right:50vw+225px;
		width: 450px;
		height: 300px;
		font-size: 16;
		font-weight: 200;
		text-align: center;
	}

footer {
	overflow: hidden;
	background: white;	
}

	nav {
		background: yellow;
		position: fixed;
		top: 25vh;
		left: 0px;
		font-weight: 200;
		margin: 16px;
		width: 256px;
		height: 154px;
		}
		
