a {
	text-decoration: none;
	color: black;
	font-family: Helvetica;
	line-height: 1;
}

body {
	font-family: Helvetica;
	font-size: 16px;
	color: black;
	line-height: 1;
}

header {
	background: white;
	padding: 16px;
}

	h1 {
		font-size: 32;
		text-align: center;
	}

	h2 {
		font-size: 24;
		font-weight: 300;
		text-align: center;	
	}
	
	p.centreimage {
		background: white;
		overflow: hidden;
		text-align: center;
		width: 450px;
		height: 300px;
		margin: 8px auto 8px auto;
	}
	
	p.bodyparagraph {
		font-size: 16;
		font-weight: 200;
		text-align: center;
		padding: 56px;
	}

footer {
	overflow: hidden;
	background: white;	
}

	nav {
		position: absolute;
		top: 8px;
		left: 0px;
		font-weight: 200;
		margin: 16px;
		float: left;
		width: 33%;
		height: 154px;
		}
		
