 {
	text-decoration: none;
	color: black;
}

body {
	color: black;
	background-color: #48525a;
	line-height: 2.4;
	letter-spacing: 3px;
	margin-left: 28%;
	margin-right: 28%;
	max-width: 100%;
	overflow-x: hidden;
	font-family: monospace;
}

header {
	position: top;
	top: 0;
	margin-left: 0px;
	padding-top: 48px;
	padding-bottom: 48px;
	width: 100%;
}

	h1 {
		font-size: 2em;
		text-align: left;
		padding-top: 16px;
		padding-bottom: 16px;
	}

	p.bodyparagraph {
		font-size: 1em;
		text-align: left;
	}

	p.centreimage {
		margin:  80px auto 64px 32px;
		overflow: hidden;
		text-align: left;
		width: 450px;
		height: 300px;
	}

nav {
	text-align: center;
	font-weight: 200;
	padding: 48px 0 32px 0;
	}

footer {
	position: bottom;
	left: 0;
	bottom: 0;
	overflow: hidden;
	margin-left: 0%;
	text-align: left;
	width: 100vw;
}
